* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url('./wp.jpg');
  background-repeat: no-repeat;
}

.container { 
  margin: 50px;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.App-header{
text-align: center;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.form input{
  align-items: center;
  margin: 0 10px ;
  width: 40px;
  height: 40px;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
} 

.minutes{
  border: 1px solid black;
  position: absolute;
  left:25%;
  font-size: 150px
}

.seconds{
  opacity: 0.7;
  position: absolute;
  right:25%;
  font-size: 150px
}